<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XTF to IFC Converter</title>
    <link rel="stylesheet" href="/static/css/styles5.css">
</head>
<body>
    <div class="container">
        <h1 id="xtf-to-ifc-converter" class="text-shadow">XTF to IFC Converter</h1>
        
        <div class="content-wrapper">
            <div class="left-column">
                <div class="card">
                    <div class="card-header">Upload XTF Files</div>
                    <div class="card-content">
                        <div id="file-preview-wrapper">
                            <div class="file-input-wrapper">
                                <input type="file" id="xtfFiles" name="xtfFiles" multiple accept=".xtf" class="custom-file-input">
                                <label for="xtfFiles" class="pixel-button">Dateien auswählen</label>
                            </div>
                        </div>
                        <div id="preview-container"></div>
                        <div id="file-info">Keine Dateien ausgewählt</div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Configuration</div>
                    <div class="card-content">
                        <div>
                            <label for="default_sohlenkote">Default Sohlenkote</label>
                            <input type="number" id="default_sohlenkote" name="default_sohlenkote" class="pixel-input" step="0.01" value="{{ config['default_sohlenkote'] }}">
                        </div>
                        <div>
                            <label for="default_durchmesser">Default Durchmesser</label>
                            <input type="number" id="default_durchmesser" name="default_durchmesser" class="pixel-input" step="0.01" value="{{ config['default_durchmesser'] }}">
                        </div>
                        <div>
                            <label for="default_hoehe">Default Höhe</label>
                            <input type="number" id="default_hoehe" name="default_hoehe" class="pixel-input" step="0.01" value="{{ config['default_hoehe'] }}">
                        </div>
                        <div>
                            <label for="default_wanddicke">Default Wanddicke</label>
                            <input type="number" id="default_wanddicke" name="default_wanddicke" class="pixel-input" step="0.01" value="{{ config['default_wanddicke'] }}">
                        </div>
                        <div>
                            <label for="default_bodendicke">Default Bodendicke</label>
                            <input type="number" id="default_bodendicke" name="default_bodendicke" class="pixel-input" step="0.01" value="{{ config['default_bodendicke'] }}">
                        </div>
                        <div>
                            <label for="default_rohrdicke">Default Rohrdicke</label>
                            <input type="number" id="default_rohrdicke" name="default_rohrdicke" class="pixel-input" step="0.01" value="{{ config['default_rohrdicke'] }}">
                        </div>
                        <div class="checkbox-container">
                            <input type="checkbox" id="einfaerben" name="einfaerben" class="form-checkbox" {% if config['einfaerben'] %}checked{% endif %}>
                            <label for="einfaerben">Datenvollständigkeit farblich visualisieren</label>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Ausgabe</div>
                    <div class="card-content">
                        <button id="convertBtn" class="pixel-button">Convert to IFC</button>
                        <div id="alert-container" class="mt-4"></div>
                        <div id="output-list" class="mt-4"></div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Switch Theme</div>
                    <div class="card-content switch-theme-buttons">
                        <button class="pixel-button" data-theme="styles1.css">Pixelart</button>
                        <button class="pixel-button" data-theme="styles2.css">Dark</button>
                        <button class="pixel-button" data-theme="styles3.css">Rainbow</button>
                        <button class="pixel-button" data-theme="styles4.css">Modern</button>
                        <button class="pixel-button" data-theme="styles5.css">Modern Dark</button>
                    </div>
                </div>
            </div>

            <div class="right-column">
                <div class="card extracted-data-card">
                    <div class="card-header">Extracted Data</div>
                    <div class="card-content">
                        <div id="extracted-data"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>2024 Martin Vanek</p>
    </footer>

    <script src="/static/js/converter.js"></script>
</body>
</html>