@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #282c34;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    line-height: 1.6;
}

.custom-file-input {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: #FF0000; /* Red */
    border: none;
    box-shadow: 0 4px 0 #C2185B, 0 8px 0 #880E4F;
    transition: all 0.3s ease;
    position: relative;
    top: 0;
    cursor: pointer;
}

.custom-file-input:hover {
    top: 4px;
    box-shadow: 0 4px 0 #880E4F;
}

.custom-file-input:active {
    top: 8px;
    box-shadow: none;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    transform: scale(0.8);
    transform-origin: top center;
}

.text-shadow {
    text-shadow: 3px 3px 0 #FF0000, 6px 6px 0 #FF7F00, 9px 9px 0 #FFFF00, 12px 12px 0 #00FF00, 15px 15px 0 #0000FF, 18px 18px 0 #4B0082, 21px 21px 0 #8B00FF;
}

.switch-theme-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.switch-theme-buttons .pixel-button {
    padding: 8px 16px;
    font-size: 0.8em;  /* Kleinere Schriftgröße */
    font-family: 'Press Start 2P', cursive;
    color: white;
    border: none;
    background-color: #FF0000; /* Red */
    transition: all 0.3s ease;
    box-shadow: 0 4px 0 #C2185B, 0 8px 0 #880E4F;
    position: relative;
    top: 0;
}

.pixel-button {
    padding: 15px 30px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    border: none;
    background-color: #FF0000; /* Red */
    transition: all 0.3s ease;
    box-shadow: 0 4px 0 #C2185B, 0 8px 0 #880E4F;
    position: relative;
    top: 0;
}

.pixel-button:hover {
    top: 4px;
    background-color: #FF7F00; /* Orange */
    box-shadow: 0 4px 0 #FFA500;
}

.pixel-button:active {
    top: 8px;
    background-color: #FFFF00; /* Yellow */
    box-shadow: none;
}

.pixel-input {
    width: 80%;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    border: 4px solid #FFD700;
    background-color: #FFFAF0;
    outline: none;
    color: #212121;
}

.card {
    background-color: #6A5ACD; /* SlateBlue */
    border: 4px solid #483D8B; /* DarkSlateBlue */
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 0 4px #483D8B, 0 0 0 8px #4169E1, 0 0 0 12px #0000FF;
}

.card-header {
    font-size: 1.2em;
    font-weight: bold;
    color: #FFD700; /* Gold */
    text-shadow: 2px 2px 0 #FFA500; /* Orange */
}

.form-checkbox {
    appearance: none;
    width: 30px;
    height: 30px;
    border: 4px solid #FFD700; /* Gold */
    background: #FFFAF0;
    margin-right: 10px;
    position: relative;
}

.form-checkbox:checked::before {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FF0000; /* Red */
    font-size: 20px;
}

.checkbox-container {
    margin-right: 20%;
}

.alert {
    background-color: #32CD32; /* LimeGreen */
    border: 4px solid #228B22; /* ForestGreen */
    color: white;
    padding: 15px;
    box-shadow: 0 0 0 4px #228B22, 0 0 0 8px #008000, 0 0 0 12px #006400;
}

.footer {
    font-size: 12px;
    color: #FF69B4; /* HotPink */
    text-shadow: 1px 1px 0 #C71585; /* MediumVioletRed */
    position: absolute;  
    bottom: 10px; 
    left: 0;
    right: 0;
    text-align: center;
    transform: scale(1.25); 
}

#preview-container img {
    image-rendering: pixelated;
    width: 128px;
    height: 128px;
}

.file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-input-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
